.single-product-wrapper {
  margin-top: 0.5rem;
  height: calc(100% - 2rem);
  width: 100%;
  display: flex;
  gap: 1rem;

  .product-images-container {
    height: 100%;
    width: 40%;

    .buy-and-cart {
      margin-top: 1rem;
      display: flex;
      width: 100%;
      position: absolute;
      bottom: 0;

      .buy,
      .cart {
        width: 50%;
        // height: 2rem;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: white;
        padding: 10px;
      }

      .buy {
        background-color: #81689d;
        transition: background-color 0.3s ease;
      }
      .buy:hover {
        background-color: rgb(129, 104, 157, 0.5);
      }

      .cart {
        background-color: #474f7a;
        transition: background-color 0.3s ease;
      }
      .cart:hover {
        background-color: rgb(71, 79, 122, 0.5);
      }
    }
  }

  .product-details-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    gap: 1rem;
    width: calc(60% - 2rem);

    .brand-name-and-wishlist {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: bold;
      .wishlist {
        font-weight: normal;
        margin-right: 1rem;
      }
    }

    .special-price {
      color: green;
    }

    .price {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      font-weight: 600;

      .current-price {
        font-size: 1.5rem;
      }

      .previous-price {
        text-decoration: line-through;
        color: gray;
      }

      .off-percentage {
        color: green;
      }
    }

    .rating {
      display: flex;
      gap: 1.5rem;
      align-items: center;

      .rating-percentage {
        display: flex;
        align-items: center;
        font-weight: bold;
        border-radius: 10px;
        background-color: green;
        padding: 0.4rem;
      }

      .total-ratings {
        color: gray;
        font-weight: bold;
        font-style: italic;
      }
    }

    .colors {
      display: flex;
      gap: 1rem;

      // .color {
      //   padding: 0.7rem;
      //   border-radius: 50%;
      //   border: 1px solid white;
      // }
    }

    .variants {
      color: black;
      .radio-button {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin: 10px;
        position: relative;
        align-items: center;
        color: white;
      }

      .radio-button input[type="radio"] {
        position: absolute;
        opacity: 0;
      }

      .radio {
        position: relative;
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid #ccc;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        transform: translateZ(-25px);
        transition: all 0.3s ease-in-out;
      }

      .radio::before {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: 5px;
        left: 5px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      .radio-button input[type="radio"]:checked + .radio {
        border-color: #5cb85c;
        transform: translateZ(0px);
        background-color: #fff;
      }

      .radio-button input[type="radio"]:checked + .radio::before {
        opacity: 1;
      }
    }

    .seller-details {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 0.8rem;

      .seller-brief {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .name-ratings {
          .seller-rating-count {
            margin-right: 0.5;
          }

          .seller-ratings {
            width: fit-content;
            display: flex;
            align-items: center;
            padding: 0.3rem;
            background-color: gray;
            border-radius: 10px;
          }
        }
      }
    }

    .ratings-and-reviews {
      margin-bottom: 1rem;
      width: calc(95%);

      .current-rating {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;

        .heading {
          font-size: 1.3rem;
          font-weight: bold;
        }

        .total-ratings {
          color: gray;
          font-weight: bold;
          font-style: italic;
        }

        .rating-percentage {
          display: flex;
          align-items: center;
          font-weight: bold;
          border-radius: 10px;
          background-color: green;
          padding: 0.3rem;
        }
      }

      .reviews {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .single-review {
          .name-and-rating {
            display: flex;
            align-items: center;
            margin-bottom: 0.3rem;

            .name {
              margin-right: 1rem;
              color: gray;
            }

            .rating-count {
              display: flex;
              align-items: center;
              background-color: green;
              padding: 0 0.4rem;
              border-radius: 5px;
              font-size: 0.9rem;
            }
          }

          .comment-and-helpful {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .helpful {
              display: flex;
              justify-content: flex-end;
              gap: 1rem;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;

    .product-images-container {
      width: 100%;

      .buy-and-cart {
        z-index: 1000;
      }
    }

    .product-details-container {
      width: calc(100% - 1rem);
      margin-left: 1rem;

      .reviews:last-child {
        margin-bottom: 4rem;
      }
    }
  }

  @media screen and (min-width: 601px) {
    .product-images-container {
      position: relative;
    }

    .product-details-container {
      overflow: auto;
    }
  }
}
