.sidebar {
  width: 15vw;
  background-color: rgb(71, 79, 122, 0.1);
  transition: all 300ms ease-in;
  color: white;
}

.section {
  transition: 0.3s;
}

.section:hover {
  background: hsl(323, 100%, 91%, 0.14);
}

.sidebar-responsive {
  display: block !important;
  z-index: 12 !important;
}

@media (max-width: 992px) {
  .sidebar {
    transition: all 300ms ease-out;
    display: none;
    width: 35vw;
  }
}
