.pointer {
  cursor: pointer;
}
.line-through {
  text-decoration: line-through;
  color: gray;
}
@import "home/home.scss";
@import "products/products.scss";
@import "products/single_product.scss";
@import "./checkout/checkout.scss";
@import "./about/about.scss";
@import "./contact/contact.scss";
