@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --primary: #1f2544;
  --second: #474f7a;
  --third: #81689d;
  --fourth: #ffd0ec;
}

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #7f74d4;
  --sb-size: 11px;
  overflow: hidden;
  background-color: #1f2544;
  font-family: "Nunito", sans-serif;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 6px;
  border: 3px solid #232e33;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.user-header {
  overflow: hidden;
  height: 7rem;
}

main {
  height: calc(100vh - 6rem);
  overflow: auto;
}
.header-sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}
